@font-face {
    font-family: 'PT Root UI';
    src:
    url('../fonts/pt-root-ui_bold.woff'), url('../fonts/pt-root-ui_bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'PT Root UI';
    src:
        url('../fonts/pt-root-ui_medium.woff'), url('../fonts/pt-root-ui_medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'PT Root UI';
    src:
        url('../fonts/pt-root-ui_regular.woff'), url('../fonts/pt-root-ui_regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'PT Root UI';
    src:
        url('../fonts/pt-root-ui_light.woff'), url('../fonts/pt-root-ui_light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Manrope';
    src: 
        url('../fonts/manrope-cyrillic.woff2') format ('woff2');
    font-weight: 200 800;
}
@font-face {
    font-family: 'Manrope';
    src: 
        url('../fonts/manrope-latin.woff2') format ('woff2');
    font-weight: 200 800;
}
@font-face {
    font-family: 'Unbounded';
    src: 
        url('../fonts/unbounded-cyrillic.woff2') format ('woff2');
    font-weight: 200 800;
}
@font-face {
    font-family: 'Unbounded';
    src: 
        url('../fonts/unbounded-latin.woff2') format ('woff2');
    font-weight: 200 900;
}
